@font-face {
  font-family: "Avenir";
  src: url("/fonts/Fonts/Avenir.ttc");
}
body {
  font-family: "Avenir", "Roboto", "Arial";
}
.small-container{
  max-width: 900px;
  margin: 0 auto;
}
.btn{
  border-radius: 2px;
}
.section-title{
  font-size: 3.3rem;
  color: #444;
}
.section-subtitle{
  font-size: 1.5rem;
  color: #696969;
}

.page-banner{
  padding: 3rem 0;
  background-image: linear-gradient(to right top, #d1dce0, #d3e0e7, #d7e4ef, #dce8f7, #e2ebfe);
}
.hero-banner {
  font-family: "Avenir";
  background: white;
  min-height: 50vh;
  width: 100%;
}
.banner-image {
  max-width: 60%;
  
}
.section-conditions {
  background: white;
  color: black;
  padding: 2rem 0;
}
.section-next-event {
  display: flex;
  align-items: center;
  background: black;
  color:white;
  padding: 2rem 0;
  min-height: 150px;
}
.section-next-event h5{
  font-size: 30px;
}
.section-prizes {
  background-color: white;
}
.prizes-card{
  background: #F9F9F9;
  border: none;
  border-radius: 4px;
}
.winner-product-img{
  max-height: 200px;
  padding: 1rem;
}
.footer {
  background-color: black;
  color: white;
}
.footer-link{
  color:white;
  text-decoration: none;
}
.rrss-logo {
  width: 24px;
  cursor: pointer;
}